@page "/catalogos"

<link rel="stylesheet" href="./Catalogocss.css" />


<div class="container">
    <div class="card">
        <div class="titulo">
            <h6>Categoria</h6>
        </div>
        <img src="./css/Icon/categorias.png">
        <div class="btn">
            <a href="categorias">Administrar</a>
        </div>

    </div>
    <div class="card">
        <div class="titulo">
            <h6>Tamaño</h6>
        </div>
        <img src="./css/Icon/cambiar-tamano-expandir.png">
        <div class="btn">
            <a href="medidas">Aministrar</a>
        </div>
    </div>
    <div class="card">
        <div class="titulo">
            <h6>Material</h6>
        </div>
        <img src="./css/Icon/mat.png">
        <div class="btn">
            <a href="materiales">Administrar</a>
        </div>
    </div>
    <div class="card">
        <div class="titulo">
            <h6>Talla</h6>
        </div>
        <img src="./css/Icon/medi.png">
        <div class="btn">
            <a href="tallas">Administrar</a>
        </div>
    </div>

    <div class="card">
        <div class="titulo">
            <h6>Categoria Persona</h6>
        </div>
        <img src="./css/Icon/rota.png">
        <div class="btn">
            <a href="etapa">Administrar</a>
        </div>
    </div>
</div>

